{
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "quotes": 0,
    "semi": 2,
    "no-var": 2,
    "no-unused-vars": [1, { "vars": "all", "args": "none" }],
    "no-underscore-dangle": 0,
    "no-empty": 0,
    "space-return-throw-case": 0,
    "strict": 0,
    "react/no-find-dom-node": 0,
    "react/no-children-prop": 0,
    "react/display-name": 0
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint"
  
}